.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-heading {
  font-weight: var(--medium);
  text-transform: uppercase;
}

.filter-options {
  display: flex;
  gap: 0.25rem;
}
