.floating-img-div {
  width: 6rem;
  position: absolute;
  z-index: -2;
}

.floating-img {
  width: 100%;
}

.floating-img-left {
  left: -5rem;
  top: -4rem;
}

.floating-img-right {
  right: -5rem;
  top: -6rem;
}

@media screen and (max-width: 1250px) {
  h1 {
    font-size: 1.5rem;
  }

  .h1-48 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 580px) {
  .main-page {
    padding: 0;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .h1-60 {
    font-size: 3rem;
  }

  .floating-img {
    display: none;
  }
}
